<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"  content="chrome=1">
    <title>Directorio Hospital Coromoto</title>
    <link rel="shortcut icon" href="public/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/common/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/common/css/main.css">
</head>
<body>
    <div class="container error404">
       <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Error 404</h3>
            </div>
            <div class="panel-body">
                <span class="">
                    <h3>
                    <i class="glyphicon glyphicon-warning-sign"></i>
                        Pagina no encontrada</h3>
                </span>
            </div>
        </div>
    </div>
</body>
</html>

