<div class='col-md-4'><span class='descripcion-area'><%= descripcion %></span></div>
<div class='col-md-2'><%= fec_ing %></div>
<div class="col-md-2"><span class='descripcion-tipo-area'><%= tipo_area %></span></div>
<div class='col-md-2 estado-area'><%= estado %></div>
<div class='col-md-2'>
    <button class="btn btn-warning edit-area">
        <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
    </button>
    <button class="btn btn-danger delete-area">
        <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
    </button>
    <button class="btn btn-success update-area oculto">
        <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>
    </button>
    <button class="btn btn-danger cancel-area oculto">
        <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
    </button>
</div>
