<div class="row">
            <div class="col-md-6">
                <input class="form-control input-desc-area" type="text"></input>
            </div>
            <div class="col-md-2">
                <select class="form-control select-area-bl">
                    <%= lista_bl %>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control select-area-tipoarea">
                    <%= lista_tipo_area %>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-agrega-tarea"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
