<td align="center">
    <button class="btn btn-warning btn-xs btn-edit-dc">
	    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	</button>
	<button class="btn btn-danger  btn-xs btn-delete">
	    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
	<button class="btn btn-success btn-xs btn-update oculto">
		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
	</button>
	<button class="btn btn-danger  btn-xs btn-cancel oculto">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
</td>
<td class="descripcion"><%= descripcion %></td>
<td class="tipocontacto"><%= tipocontacto %></td>
