<!-- <div id="formBody" class="row formSuperior"></div> -->
<div id="" class="row">
    <div class="panel panel-default panel-table">
       	<div class="panel-heading">
            <div class="row">
                <div class="col col-md-6">
                    <h4 class="panel-title">Datos de Contacto</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="formBody"></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr class="small">
                        <th><em class="glyphicon glyphicon-cog"></em></th>
                        <th>Descripción</th>
                        <th>Tipo de contacto</th>
                    </tr>
                </thead>
                <tbody id="listBody">
                </tbody>
            </table>
        </div>
	</div>
</div>
