<div class="col-md-4"><span class='descripcion small'><%= descripcion %></span></div>
<div class="col-md-1"><span class='fecha small'><%= fec_ing %></span></div>
<div class="col-md-2"><span class='ubicacion small'><%= ubicacion %></span></div>
<div class="col-md-2"><span class='piso small'><%= piso %></span></div>
<div class="col-md-1"><span class='estado small'><%= estado %></span></div>
<div class="col-md-2">
    <button class="btn btn-warning edit-dpto">
        <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
    </button>
    <button class="btn btn-danger delete-dpto">
        <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
    </button>
    <button class="btn btn-success update-dpto oculto">
        <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>
    </button>
    <button class="btn btn-danger cancel-dpto oculto">
        <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
    </button>
</div>
