<div id="AreaForm" class="row formSuperior"></div>
<div id="AreaList" class="row">
   	<div class="panel panel-default">
       	<div class="panel-heading c-list">
        	<div class="row title">
            	<div class="col-md-2">Descripción</div>
                <div class='col-md-2'>Ingreso</div>
                <div class='col-md-2'>Ubicacion</div>
                <div class='col-md-2'>Piso</div>
                <div class='col-md-2'>Estado</div>
                <div class='col-md-2'>Opciones</div>
        	</div>
        </div>
    	<ul class="list-group" id="AreaListBody"></ul>
	</div>
</div>
