<div id="formBody" class="row formSuperior"></div>
<div id="" class="row">
    <div class="panel panel-default panel-table">
       	<div class="panel-heading">
            <div class="row">
                <div class="col col-md-6">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list small"></span>  Asignacion de extensiones</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <h5>Nombre del empleado</h5>
                </div>
                <div class="col col-md-2">
                    <h5>Numero de extension</h5>
                </div>
                 <div class="col col-md-2">
                    <h5>Estado</h5>
                </div>
            </div>
            <div class="form-eextension"></div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th><em class="glyphicon glyphicon-cog"></em></th>
                        <th class="">Empleado</th>
                        <th class="">Numero</th>
                        <th class="">Fecha asignacion</th>
                        <th class="">Estado</th>
                    </tr>
                </thead>
                <tbody id="listBody">
                </tbody>
            </table>
        </div>
	</div>
</div>
