<div class="show">
    <div class="modal fade " id="formEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"><i class="glyphicon glyphicon-phone-alt"></i>  Agregar empleado</h4>
        </div>
        <div class="modal-body">
                <form>
                        <div class="row">
                        	<div class="col-sm-3">
                        		<div class="form-group">
				                    <label for="departamento" class="small">Ficha</label>
				                    <input type="text" class="form-control" id="ficha" placeholder="Ej. 11458">
				                </div>
                        	</div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-3">
                            	<div class="form-group">
                            		<input checked data-toggle="toggle" data-size="mini" type="checkbox">
                            		<!--
                            		<label for="nacionalidad" class="small">Nacionalidad</label>
		                            <select id="nacionalidad" class="form-control">
		                            	<option value="">Venezolano</option>
		                            	<option value="">Extranjero</option>
		                            </select>
		                            -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nombre" class="small">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" placeholder="Ej. Alfonso José">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="apellido" class="small">Apellido</label>
                                    <input type="text" id="apellido" class="form-control" placeholder="Ej. Castillo Plaza">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="tipoExt" class="small">Indicador</label>
                                    <input type="text" id="tipoExt" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="modeloExt" class="small">Fecha de nacimiento</label>
                                    <input type="text" id="modeloExt" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="serialExt" class="small">Serial</label>
                                    <input type="text" id="serialExt" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="macposExt" class="small">Mac-Pos</label>
                                    <input type="text" id="macposExt" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="grupoCaptura" class="small">Grupo captura</label>
                                    <input type="text" id="grupoCaptura" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="statusExt" class="small">Status</label>
                                    <input type="text" id="statusExt" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="limExt" class="small">L.I.M</label>
                                    <input type="text" id="limExt" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="datosContacto">vista administ datos contacto</div>
                    </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-warning btn-save-extension">Guardar</button>
        </div>
        </div>
    </div>
    </div>
</div>
