<div class="row">
    <div class="col col-md-6 empleado">
        <select id="empleado" class="form-control"></select>
    </div>
    <div class="col col-md-2 extension">
        <select id="extension" class="form-control"></select>
    </div>
    <div class="col col-md-2 estado">
        <select id="estado" class="form-control"></select>
    </div>
    <div class="col col-md-2">
        <button id="boton" type="button" class="btn btn-labeled btn-success btn-asignar">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Asignar
        </button>
    </div>
</div>

