<div class='col-md-6'><span class='descripcion-tipoCont'><%= descripcion %></div>
        <div class='col-md-2'><%= fec_ing %></div>
        <div class='col-md-2 estado-tipoCont'>
            <% if (bl == 0) {%>
                Oculto
            <% } else { %>
                Visible
            <% } %>
        </div>
        <div class='col-md-2'>
            <button class="btn btn-warning edit-tipoCont">
                <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
            </button>
            <button class="btn btn-danger delete-tipoCont">
                <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
            </button>
            <button class="btn btn-success update-tipoCont oculto">
                <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>
            </button>
            <button class="btn btn-danger cancel-tipoCont oculto">
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
            </button>
        </div>
