<div class='col-md-6'><span class='descripcion-tipoDatoC'><%= descripcion %></div>
        <div class='col-md-2'><%= fec_ing %></div>
        <div class='col-md-2 estado-tipoDatoC'><%= estado %></div>
        <div class='col-md-2'>
            <button class="btn btn-warning edit-tipoDatoC">
                <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
            </button>
            <button class="btn btn-danger delete-tipoDatoC">
                <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
            </button>
            <button class="btn btn-success update-tipoDatoC oculto">
                <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>
            </button>
            <button class="btn btn-danger cancel-tipoDatoC oculto">
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
            </button>
        </div>
