 <div class="col-md-4"><span class='descripcion-dpto'><%= descripcion %></div>
        <div class="col-md-2"><%= fec_ing %></div>
        <div class="col-md-2"><%= bl %></div>
        <div class="col-md-2"><%= ubicacion %></div>
        <div class="col-md-2"><%= piso %></div>
        <div class="col-md-2">
            <button class="btn btn-warning edit-dpto">
                <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
            </button>
            <button class="btn btn-danger delete-dpto">
                <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
            </button>
            <button class="btn btn-success update-dpto oculto">
                <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>
            </button>
            <button class="btn btn-danger cancel-dpto oculto">
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
            </button>
        </div>
