<div class="row">
            <div class="col-md-4">
                <input class="form-control input-desc-dpto" type="text"></input>
            </div>
            <div class="col-md-2">
                <select class="form-control select-departamentos">
                    <%= lista_departamentos %>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control select-dpto-ubic">
                    <%= lista_ubicaciones %>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control select-dpto-pisos">
                    <%= lista_pisos %>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-agrega-dpto"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
