<div class="row">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control select-extensiones">
                        <%= lista_bl %>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control input-numero" type="text"></input>
                </div>
                <div class="col-md-3">
                    <select class="form-control select-status">
                        <%= lista_bl %>
                    </select>
                </div>
                <div class="col-md-3">
                    <input class="form-control input-csp" type="text"></input>
                </div>
                <div class="col-md-3">
                    <input class="form-control input-tipo" type="text"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control input-modelo" type="text"></input>
                </div>
                <div class="col-md-3">
                    <input class="form-control input-serial" type="text"></input>
                </div>
                <div class="col-md-3">
                    <input class="form-control input-mac-pos" type="text"></input>
                </div>
                <div class="col-md-3">
                    <input class="form-control input-grupoc" type="text"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control input-modelo" type="text"></input>
                </div>
                <div class="col-md-4">
                    <input class="form-control input-serial" type="text"></input>
                </div>
                <div class="col-md-4">
                    <input class="form-control input-mac-pos" type="text"></input>
                </div>
            </div>
        </div>
