<div class="row">
            <div class="col-md-8"><span class='descripcion-ext'><%= departamento %></div>
        </div>
        <div class="row">
            <div class="col-md-2"><%= numero %></div>
            <div class="col-md-2"><%= fecha_ingreso %></div>
            <div class="col-md-2"><%= bl %></div>
            <div class="col-md-2"><%= csp %></div>
        </div>
        <div class="row">
            <div class="col-md-2"><%= tipo %></div>
            <div class="col-md-2"><%= modelo %></div>
            <div class="col-md-2"><%= serial %></div>
            <div class="col-md-2"><%= mac-pos %></div>
        </div>
        <div class="row">
            <div class="col-md-2"><%= grupo %></div>
            <div class="col-md-2"><%= status %></div>
            <div class="col-md-2"><%= lim %></div>
            <div class="col-md-2"><%= fecha_inventario %></div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-warning edit-extension">
                    <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
                </button>
                <button class="btn btn-danger delete-extension">
                    <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                </button>
                <button class="btn btn-success update-extension oculto">
                    <span class='glyphicon glyphicon-floppy-disk' aria-hidden='true'></span>
                </button>
                <button class="btn btn-danger cancel-extension oculto">
                    <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                </button>
            </div>
        </div>
