<footer>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='col-lg-3 col-md-6'>
                        <div class='container'>
                            <div class='col-lg-3'>
                                <div class='panel panel-primary'>
                                    <div class='panel-heading'>Ultimos cambios</div>
                                    <div class='panel-body'>
                                        Contenido del panel
                                    </div>
                                </div>
                            </div>

                            <div class='col-lg-3'>
                                <div class='panel panel-primary'>
                                <div class='panel-heading'>Ultimas extensiones</div>
                                    <div class='panel-body'>
                                        Contenido del panel
                                    </div>
                                </div>
                            </div>

                            <div class='col-lg-3 col-md-6'>
                                <h3>Listas</h3>
                                <ul>
                                    <li><a href=''><i class='glyphicon glyphicon-envelope'></i> Empleados</a></li>
                                    <li><a href=''><i class='glyphicon glyphicon-briefcase'></i> Departamentos</a></li>
                                </ul>
                            </div>

                            <div class='col-lg-3 col-md-6'>
                                <h3>Contacto:</h3>
                                <p>Tiene alguna pregunta? Contactenos</p>
                                <p><a href='mailto:sistemas.hospitalcoromoto@gmail.com' title='Contactenos'><i class=''></i> Contactenos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
