<ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agenda<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Empleados</a></li>
                    <li><a href="#">Asignar Extensi&oacute;n</a></li>
                    <li><a href="#">Extensiones</a></li>
                    <li><a href="#">Departamentos</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Referencias <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Areas</a></li>
                    <li><a href="#">Tipo de Area</a></li>
                    <li><a href="#">Tipo Dato de contacto</a></li>
                </ul>
            </li>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mensajeria (SMS) <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Envio individual de SMS</a></li>
                    <li><a href="#">Envio masivo de SMS</a></li>
                </ul>
            </li>
        </ul>
